<footer class="footer">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h2 class="footer-title mb-3">Hermanos Jota - Casa Taller</h2>
                <address>
                    Av. San Juan 2847 <br>
                    C1232AAB - Barrio de San Cristóbal <br>
                    Ciudad Autónoma de Buenos Aires <br>
                    Argentina
                </address>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h2 class="footer-title mb-3">Contacto</h2>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:info@hermanosjota.com.ar">
                            info@hermanosjota.com.ar
                        </a>
                    </li>
                    <li class="mb-1">
                        <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:ventas@hermanosjota.com.ar">
                            ventas@hermanosjota.com.ar
                        </a>
                    </li>
                    <li class="mb-1">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                        <a
                                href="https://www.instagram.com/hermanosjota_ba/"
                                target="_blank"
                                rel="noopener noreferrer"
                        >
                            @hermanosjota_ba
                        </a>
                    </li>
                    <li>
                        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
                        <a href="tel:+541145678900">
                            +54 11 4567-8900
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h2 class="footer-title mb-3">Horarios</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Lunes a Viernes:</th>
                        <td>10:00 - 19:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Sábados:</th>
                        <td>10:00 - 14:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center p-3">
        © <span id="footer-year"></span> Hermanos Jota
    </div>
</footer>